<body>
  <h1> Welcome to Class Code</h1>
  <center>

  </center>

  <style>
  body{
    background-color: #FFFACD;
    margin: auto;
  }
  center{
    width: 85%;
    padding: 5%;
    border: 1px solid black;
    margin-left:2%;
    height: inherit;
  }
  </style>
</body>
