<body>
  <h1> Welcome to Class Code</h1>
  <center>

  </center>

  <style>
  body{
    background-color: #FFFACD;
    margin: auto;
  }
  center{
    width: 1200px;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    left: 200px;
  }
  </style>
</body>
